body, html {
  background: #778899;
	height: 100%;
  margin: 0px auto;
}

body.ballpark {
	height: 100%;
	margin: 0px auto;
}

/*******************************
   HEADER
*******************************/

header {
	background: #ff2400; 	
	height: 120px;
	margin: 0 auto;
	padding: 5px 0 0 0;
	width: 100%;
}

h1 {
	font-family: 'Special Elite', arial;
	font-size: 2em;
	padding: 0 0 0 5%;
}

h2 {
	text-align: center;
	font-family: 'Special Elite', arial;
	font-size: 1.5em;
}

h3 {
	color: #00ff00;
	text-decoration: underline;
}

p {
	text-align: center;
	font-size: 1em;
}

label {
	color: black;
}

a {
	color: #f2f2f2;
}

a:hover {
	color: #778899;
	text-decoration: underline;
}

li.selected a {
	color: black;
}

/*******************************
   NAVIGATION
*******************************/

nav {
	text-align: center;
	padding: 30px 0 0 0;
	margin: 20px 0 0 0;
}

nav a {
  color: #f2f2f2;
  text-decoration: none;
}

nav a:hover {
  color: #778899;
	text-decoration: underline;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
	padding: 0 10px 0 10px;
}

.page-links {
	margin: 0;
	padding: 0;
}

.signin {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0 10px;
}

.logout {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0 10px;
}

#loginbut {
  width: 140px;
  height: 15px;
  background: #000;
  padding: 8px 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

#signupbut {
	width: 140px;
  height: 15px;
  background: #778899;
  padding: 8px 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

#logoutbut {
  width: 140px;
  height: 15px;
  background: #000;
  padding: 8px 15px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

/*******************************
   SIGNIN/UP FORM
*******************************/

.signin-page {
	background: #778899;
	border: 3px solid #000;
  margin-top: 20px;
  margin-left: 35%;
	height: 200px;
	width: 25%;
}

.signup-page {
	background: #778899;
	border: 3px solid #000;
  margin-top: 20px;
  margin-left: 35%;
	height: 220px;
	width: 25%;
}

.head {
	margin-top: 5px 0 0 0;
}

.box {
	display: block;
}

.box input {

}

input[type=submit] {
	background: #ff2400;
	border: 1px solid #000;
}

/*******************************
   HOME PAGE
*******************************/

#home-wrapper {
	height: 2500px;
	margin: auto;
}

.home-intro {
	background-color: #000;
	width: 100%;
  margin: auto;
	padding: 20px 0;
	text-align: center;
}

.home-title {
	color: #fff;
	text-decoration: underline;
}

.golden-pic {
	border: 3px solid #778899;

	width: 60%;
}

.flip {
		padding: 10px;
}

.flip-pic {
	border: 10px solid #778899;
	border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
	width: 40%;
}

.home-body {
	color: #fff;
	text-indent: 40px;
	text-align: left;
	padding: 0 15%;
}

.ttun-pic {
	border: 3px solid #778899;
	border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 60%;
}

.shoe {
	background: url('../img/stadium-night-800x325.jpg') 
		no-repeat;
	background-size: 100% 510px;
	border-top: 3px solid #ff2400;
	border-bottom: 3px solid #ff2400;
	color: #f2f2f2;
	padding: 10px 0 20px 0;
	text-align: center;
}

/*******************************
   FANTASY PAGE
*******************************/

.fantasy-intro {
	background-color: #000;
	width: 100%;
  margin: auto;
	padding: 20px 10px;
	text-align: center;
}

.fantasy-title {
	color: #fff;
	text-decoration: underline;
}
.lion-pic {
	border: 3px solid #778899;
	width: 60%;
}

.injury-pic {
	border: 3px solid #778899;
	width: 60%;
}

.fantasy {
	background: url('../img/theleague.jpg')
		no-repeat;
	background-size: 100% 510px;
	border-top: 3px solid #ff2400;
	border-bottom: 3px solid #ff2400;
	text-align: center;
	color: #f2f2f2;
	padding: 10px 0 20px 0;
}

/*******************************
   PICKS&ODDS PAGE
*******************************/

.picks-intro {
	background-color: #000;
	width: 100%;
  margin: auto;
	padding: 20px 10px;
	text-align: center;
}

.picks-title {
	color: #fff;
	text-decoration: underline;
}

.season-cfb {
	display: inline;
	padding-right: 10%;
}

.season-nfl {
	display: inline;
	padding-left: 10%;
}

.record-cfb {
	color: #fff;
	display: inline;
	padding-right: 12%;
}

.record-nfl {
	color: #fff;
	display: inline;
	padding-left: 11%;
}

.record-intro {
	padding: 10px 0 20px 0;
}

.picks-pic {
	border: 3px solid #778899;
	width: 60%;
}

.vegas {
	background: url('../img/california-nevada-sports-betting.jpg')
		no-repeat;
	background-size: 100% 510px;
	border-top: 3px solid #ff2400;
	border-bottom: 3px solid #ff2400;
	text-align: center;
	color: #f2f2f2;
	padding: 10px 0 20px 0;
}

.picks-weekly {
	text-align: center;
	width: 50%;
	margin-left:  auto;
	margin-right: auto;
}

.picks-talk {
	color: #fff;
	text-align: left;
	text-indent: 30px;
}

/*******************************
   BALLPARK PAGE
*******************************/

.construction {
	text-align: center;
}

/*******************************
   CHAT WINDOW
*******************************/

#chatwindow {
	background: black;
	border: 1px solid #000;
	width: 50%;
	text-align: left;
	margin: 0 auto;
	overflow: auto;
	height: 220px;
}

.chatchat {
	background: #778899;
	border: 1px solid black;
	margin: 3px 0;
	padding: 0 5px;
}

.chatchat2 {
	background: #778899;
	border: 1px solid black;
	margin: 3px 0;
}

#messages {
	color: black;
	display: inline;
	overflow-y:scroll;
}

#messages-fantasy {
	color: black;
	display: inline;
	overflow-y:scroll;
}

#name {
	color: #00ff00;
	font-family: 'Delius', cursive;
	font-size: 1.15em;
}

#namemsg {
	color: #fff;
	font-size: 1em;
}

#time {
	color: #000;
	font-size: 0.75em;
}

#container {
	background: #778899;
	border: 1px solid #000;
  width: 50% ;
  margin-top: 5px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}

/*******************************
   INPUT BOXES
*******************************/

input {
   margin: 10px;
   width: 10em;
}

label {
	display: inline-block;
}

/*******************************
   TEXTAREA
*******************************/

textarea {
	width: 95%;
	height: 60px;
	border: 3px solid #778899;
	border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

#sendmssg {
	background: #000;
	color: #fff;
}

#sendmssg2 {
	background: #000;
	color: #fff;
}

#sendmssg3 {
	background: #000;
	color: #fff;
}

/*******************************
   IMAGES
*******************************/


/*******************************
   FOOTER
*******************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	margin-top: 50px;
}

.social-icon {
	height: 60px;
	width: 60px;
	position:relative;
	margin-top: 100px;
}

#twitter {
  height: 40px;
  width: 40px;
  padding-bottom: 10px;
}

/*******************************
   Media Queries
*******************************/

@media (min-width: 1700px) {

	.osu-pic {
		width: 40%;
	}

	.ttun-pic {
		width: 40%;
	}

	.picks-pic {
		width: 40%;
	}

  .injury-pic {
		width: 40%;
	}
}

@media (max-width: 800px) {
	
	input {
		margin: 5px;
		width: 7em;
		height: 1em;
	}

	#loginbut {
		padding: 4px 10px;
	}
	
	#signupbut {
		padding: 4px 10px;
	}
	
	input[type=submit] {
	   height: 1.5em;
	}
}

@media (max-width: 650px) {
	
	body {
		font-size: .75em;
	}
	
	header {
		height: 60px;
	}
	
	footer {
		margin-top: 150px;
	}

	#loginbut {
		font-size: 0.6em;
		padding: 2px 8px;
	}
	
	#signupbut {
		font-size: 0.6em;
		padding: 2px 8px;
	}
	
	#logoutbut {
		margin: 10px 0 0 0;
		padding: 3px 10px;
	}

	h1 { 
		font-size: 1em; 
	}

	h2{
		font-size: 0.75em;
	}

	nav a {
		font-size: .75em;
	}
	
	.signin-page {
		margin-left: 20%;
		width: 60%;
		height: 140px;
	}

	.signup-page {
		margin-left: 20%;
		width: 60%;
		height: 160px;
	}

	.home-body {
		text-indent: 20px;
	}
	
	#container {
		width: 70%;
	}

	#chatwindow {
		width: 70%;
	}

	textarea {
		width: 90%;
		height: 50px;
	}

}
